HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
!.gitignore
!.gitkeep

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
#src/main/java/com/qfedu/dt/controller/
#src/main/java/com/qfedu/dt/dao/
#src/main/java/com/qfedu/dt/entity/
#src/main/java/com/qfedu/dt/service/
#src/main/java/com/qfedu/dt/utils/
#src/main/resources/mapper/
#src/main/resources/static/
#src/main/resources/templates/
out/
