<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <TITLE> ZTREE DEMO - checkbox</TITLE>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/zTreeStyle/zTreeStyle.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery-1.12.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ztree.excheck.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/layui/layui.js}" ></script>


    <SCRIPT type="text/javascript">
        layui.use(['laypage', 'layer', 'table', 'element','form'], function() {
            var $ = layui.jquery
                , layer = layui.layer //弹层
                , element = layui.element //元素操作

            var setting = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };

            var zNodes;
            $.ajax({
                type: "post",
                url: "findAll.do",
                dataType: "json",
                success: function (data) {
                    zNodes = data.info;
                    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                    getChecked()
                }
            })

            var code;

            function setCheck() {
                var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                    py = $("#py").attr("checked") ? "p" : "",
                    sy = $("#sy").attr("checked") ? "s" : "",
                    pn = $("#pn").attr("checked") ? "p" : "",
                    sn = $("#sn").attr("checked") ? "s" : "",
                    type = {"Y": py + sy, "N": pn + sn};
                    zTree.setting.check.chkboxType = type;
                    showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
            }

            function showCode(str) {
                if (!code) code = $("#code");
                code.empty();
                code.append("<li>" + str + "</li>");
            }


            $(document).ready(function () {
                setCheck();
                $("#py").bind("change", setCheck);
                $("#sy").bind("change", setCheck);
                $("#pn").bind("change", setCheck);
                $("#sn").bind("change", setCheck);
            });

            function getChecked() {
                rid = document.getElementById("rid").value;
                $.ajax({
                    type: "post",
                    url: "getChecked.do",
                    data: {"rid": rid},
                    dataType: "json",
                    success: function (data) {
                        result = data.info;

                        for (var i = 0; i < result.length; i++) {
                            zTree = $.fn.zTree.getZTreeObj("treeDemo"); //
                            zTree.checkNode(zTree.getNodeByParam("id", result[i]), true); //根据id在ztree的复选框中实现自动勾选
                        }
                    }
                })
            }

        })

        function setPrivilege() {
            var tt = $.fn.zTree.getZTreeObj("treeDemo");
            if (tt != null) {
                var nodes = tt.getCheckedNodes(true);
                var str = '';
                //要对数据进行处理
                $(nodes).each(function () {
                    str += this.id + ",";
                });

                $.ajax({
                    type: "post",
                    url: "updatePrivilege.do?rid=" + rid,
                    data: {"str": str},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            layer.alert('修改成功')

                        }
                    }

                })
            }
        }

    </SCRIPT>
</HEAD>

<BODY>
<div class="content_wrap" style="margin-left: 150px">
    <input  type="text" name="rid" id="rid" required  lay-verify="required"  th:value="${rid}" autocomplete="off" style="width: 240px" class="layui-input" th:type="hidden">

    <div class="zTreeDemoBackground left" >
        <ul id="treeDemo" class="ztree"></ul>
        <a class="layui-btn layui-btn-normal" th:onclick="setPrivilege()">提交</a>
    </div>
</div>
</BODY>
</HTML>