<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        #content{
            margin:20px auto;
        }
    </style>
    <!--th:href="@{/layui/css/layui.css}-->
    <!--th:src="@{/layui/layui.js}-->
    <!--th:src="@{/js/jquery-1.12.2.min.js}-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/layui/layui.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.2.min.js}" ></script>
</head>
<body>
<div id="content">

    <div class="layui-form searchDiv">
        <div class="layui-form-item">
            <div class="layui-inline" style="margin-left: 20px">
                <div class="layui-btn-group demoTable">
                    <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>-->
                    <button type="button" class="layui-btn" data-method="offset" data-type="auto" ><i class="layui-icon">&#xe608;</i> 添加</button>
                    <button class="layui-btn" data-type="getCheckData">批量删除</button>
                </div>
            </div>


            <div class="layui-inline" style="float: right">
                <div class="layui-input-inline">
                    <input type="text"id="sname"  lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
                <button type="button" class="layui-btn" id="search" data-type="reload" style="margin-bottom: 5px">搜索</button>
            </div>
        </div>
    </div>

    <table class="layui-hide" id="studentTable" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

</div>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script>
    layui.use(['laypage', 'layer', 'table', 'element','form'], function(){
        var $ = layui.jquery
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            ,table = layui.table //表格
            ,element = layui.element //元素操作
            ,form = layui.form


        //执行一个 table 实例
       table.render({
            elem: '#studentTable'
            ,height: 420
            ,url: 'findAllStudent.do' //数据接口
            ,title: '学生表'
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                //,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limits:[5,10,20]
            }
            ,cols: [
                [ //表头
                 {type: 'checkbox',id:'selectAll'}
                ,{field: 'sid', title: 'sid'}
                ,{templet: '#indexTpl', align:'center', title: '序号', width:80,totalRowText: '合计：'}
               ,{field: 'sname', align:'center', title: '学生姓名', width:200}
               ,{field: 'email', align:'center', title: '邮箱', width: 400,totalRow: true}
               ,{field: 'password', align:'center', title: '密码', width:80,}
               ,{field: 'phone', align:'center', title: '手机号码', width: 90, totalRow: true}
               ,{title: '操作', width: 125, align:'center', toolbar: '#barDemo'}
            ]
           ]
            ,id:'studentTable'
            ,done: function (res) {
                //数据总条数,res为url接口传回的数据
                //totalNum =res.total
                $("[data-field='sid']").css('display', 'none');
            }
        });

        var $ = layui.jquery, active = {
            //筛选重载
            reload: function(){
                var sname = $("#sname").val();

                //执行重载
                table.reload('studentTable', {
                    where: {
                        sname:sname,
                    },
                });
            },

            //批量删除
            getCheckData: function () {
                var checkStatus = table.checkStatus('studentTable'),
                    data = checkStatus.data;
                if (data == "") {
                    layer.msg("至少要选一个", {icon: 2});
                    return;
                }
                var sids = "";
                if (data.length > 0) {
                    var l = data.length;
                    for (var i = 0; i < data.length; i++) {
                        sids += data[i].sid + ",";
                    }
                }

                //获取当前页码
                var currPage = $(".layui-laypage-skip").find("input").val()
                //获取分页数据条数
                var  pageInfo = $(".layui-laypage-limits").find("option:selected").val()
                //获取总页数
                var  recodeCount = $(".layui-laypage-count").text();
                var  recodeCount = recodeCount.replace(/[^0-9]/ig,"");
                var  totalPageNum = Math.ceil(recodeCount/pageInfo)
                var  lastNum = recodeCount%pageInfo

                layer.confirm('确定删除所选的'+l +'个选项吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: "deleteMany.do",
                        data: {"sids": sids},
                        dataType: 'json',
                        success: function (data) {
                            if (data.code === 0) {
                                layer.msg('删除成功', {icon: 1});
                                当前所在的页码
                                if (totalPageNum == currPage && (pageInfo == l||lastNum == l))  {
                                    table.reload('studentTable',{page:{curr:currPage - 1}})
                                    $("#checkedNum").html("0");
                                }  else{
                                    $(".layui-laypage-btn").click();
                                    $("#checkedNum").html("0");
                                }
                            } else {
                                layer.msg('删除失败');
                            }
                        },
                        'error': function () {
                            layer.msg('系统错误');
                        }
                    })
                })
            },


            offset: function(){
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2
                    ,title: '添加学生'
                    ,area: ['500px', '350px']
                    ,shade: 0
                    ,maxmin: true
                    ,content:'add.do'
                });
            },
        };

        $('.searchDiv .layui-btn ').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.searchDiv .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });


        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var rowData = obj.data //获得当前行数据
                ,layEvent = obj.event //获得 lay-event 对应的值
                ,tr = obj.tr;
            if(layEvent === 'del'){
                layer.confirm('真的删除该行么,删除将可能会导致信息丢失', function(index){
                    $.ajax({
                        type:'post',
                        url:'deleteStudent.do',
                        data:{'sid':rowData.sid},//向服务端发送删除的id
                        dataType:"json",
                        success:function(data){
                            if(data.code == 0){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                console.log(index);
                                layer.msg("删除成功");
                                $(".layui-laypage-btn").click()
                                // table.reload('videoTable',{page:{curr:1}});
                            } else{
                                layer.msg("删除失败");
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){
                layer.open({
                    type: 2,
                    area:['600px', '550px'],
                    title: "更改信息",
                    fixed: false, //不固定
                    maxmin: true,
                    maxmin: false,
                    content:'modify.do?id=' + rowData.sid
                });
            }
        });
    });
</script>
</body>
</html>
