<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dt.dao.ExamManageDao">

    <insert id="add" parameterType="examManage">
        insert into exam_manage(courseId, beginTime, endTime, totalTime)
        values (#{courseId},#{beginTime},#{endTime},#{totalTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete from exam_manage where eId=#{eId}
    </delete>

    <update id="update" parameterType="examManage">
        update exam_manage
        set courseId=#{courseId},beginTime=#{beginTime},endTime=#{endTime},totalTime=#{totalTime}
        where eId=#{eId}
    </update>

    <select id="findById" parameterType="int" resultType="com.qfedu.dt.vo.VExamManage">
        select e.eId,c.cId,c.cName,e.beginTime,e.endTime,e.totalTime from exam_manage e
        inner join course c
        on e.courseId=c.cId
        where e.eId=#{eId}
    </select>

    <select id="findExamById" parameterType="int" resultType="examManage">
        select * from exam_manage where eId=#{eId}
    </select>

    <select id="findAll" resultType="com.qfedu.dt.vo.VExamManage">
        select e.eId,c.*,e.beginTime,e.endTime,e.totalTime from exam_manage e
                                                                    inner join course c
                                                                        on e.courseId=c.cId
    </select>

    <select id="findCourse" resultType="course">
        select * from course
    </select>
</mapper>