<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dt.dao.ScoreMamagerDao">




    <select id="selectAllStudentName" parameterType="int"  resultType="string">
        select s.sname from student s
            inner join studentexamanswer g
            on g.sid = s.sid
            where eid = #{eid}
            order by g.totalscore asc
    </select>

    <select id="selectAllScore" parameterType="int"  resultType="int">
        select totalscore from studentexamanswer where eid = #{eid} order by totalscore asc
    </select>



    <select id="selectAllStudentExam" parameterType="int"  resultType="string">
     select exam_manage.endTime , studentexamanswer.totalscore from exam_manage
        INNER JOIN studentexamanswer
        on exam_manage.eId = studentexamanswer.eid
        where studentexamanswer.sId=#{sid}
        order by  exam_manage.eId asc
    </select>

    <select id="selectOneAllScore" parameterType="int"  resultType="int">
     select  studentexamanswer.totalscore  from exam_manage
        INNER JOIN studentexamanswer
        on exam_manage.eId = studentexamanswer.eid
        where studentexamanswer.sId=#{sid}
        order by  exam_manage.eId asc
    </select>


</mapper>